<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Disable Apple Setup Assistant. This is primarily used to avoid end users having to a local system account the first time the system boots. Typically you would use this pkg in conjunction with https://github.com/MagerValp/CreateUserPkg or another script to create any local users required in your environment.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Disable Apple Setup Assistant.</string>
</dict>
</plist>
