<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Later OS versions no longer provide a UI to enable web sharing. Via the cli using launchctl we can enable the launchdaemon.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>ConfigWebSharing</string>
</dict>
</plist>
